@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #ffffff;
    font-family: 'Open Sans';
}

header {
    background-color: #0B7009;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
}

#logo_if {
   /* width: 220px;
    height: 82px;
    margin-left: 1.5%;*/
    width: 60px;
    height: 63px;
    margin-top: 0.7%;
    margin-left: 5%;
}
#nome {
    display: flex;
    margin-top: 0.7%;
    
    
}

#ifsp {
    font-size: 10px;
    text-align: left;
    font-family: 'Open Sans';
    width: 80px;
    margin-top: 0.4%;
    margin-left: 8%;
}



header form .form-busca{
    padding: 5px;
    border: none;
    outline-style: none;
 
}
header form .form-busca::placeholder{
    color: #949494;
    font-size: 15px;
}

header .input-icons i{
    position: fixed;

}
header .input-icons {
    width: 100%;
    
}
header .icon {
    padding: 10px;
    color: #003100;
    min-width: 50px;
    margin-top: -4px;
    font-size: 14px;
    margin-left: 150px;
}

form {
    margin-right: 1%;
    padding: 5px;
}

::placeholder {
    font-size: 15px;
}

h1 {
    width: 200px;
} 

#cab2 {
    background-color: #003100;
    height: 30px;

}

#bot {
    border-style: hidden;
    background-color: #003100;
    margin-left: 1.1%;
    margin-top: 3.5px;
    height: 26px;
}

div button img {
    height: 25px;
}

.sidenav {
    height: 500px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #003100;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    margin-top: 7.2%;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-family: 'Open Sans';
  }
  
  .sidenav a:hover {
    font-size: 130%;
    color: #daffe1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .corpo {
    background-color: #EFEFEF;
    width: 90%;
    height: 550px;
    margin-top: 3%;
    margin-left: 5%;
    
    
   
    text-align: center;
  }

  .corpo h1 {
    color: #0B7009;
    width: 100%;
    padding-top: 1rem;
    
  }

  .corpo img {
    height: 400px;
    width: 45%;
    margin-top: 2%;
    padding-right: 0.2%;
    padding-left: 0.2%;
  }

  footer {
    background-color: #0B7009;
    height: 50px;
    
  }

