@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

header {
    background-color: #0B7009;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
}

#logo_if {
   /* width: 220px;
    height: 82px;
    margin-left: 1.5%;*/
    width: 60px;
    height: 63px;
    margin-top: 0.7%;
    margin-left: 5%;
}
#nome {
    display: flex;
    margin-top: 0.7%;
    
    
}

#ifsp {
    font-size: 10px;
    text-align: left;
    font-family: 'Open Sans';
    width: 80px;
    margin-top: 0.4%;
    margin-left: 8%;
}



header form .form-busca{
    padding: 5px;
    border: none;
    outline-style: none;
 
}
header form .form-busca::placeholder{
    color: #949494;
    font-size: 15px;
}

header .input-icons i{
    position: fixed;

}
header .input-icons {
    width: 100%;
    
}
header .icon {
    padding: 10px;
    color: #003100;
    min-width: 50px;
    margin-top: -4px;
    font-size: 14px;
    margin-left: 150px;
}

form {
    margin-right: 1%;
    padding: 5px;
}

::placeholder {
    font-size: 15px;
}

h1 {
    width: 200px;
} 


